


<div class="container-fluid">
  <h1>Платежи</h1>
<div class="row">
  <div class="col">
      <input type="text" [(ngModel)]="searchText"   >
      <label for="search"></label>
  </div>
    <div class="col "><ng-multiselect-dropdown 
    [placeholder]="'Cчетчики'"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelect)="onDeSelect($event)"
    >
    </ng-multiselect-dropdown>
    </div>
  
  <div class="col">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" (dateChange)="getFrom($event,$http)">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  </div>
<div class="col">

  <mat-form-field >
    <input matInput [matDatepicker]="picker1" (dateChange)="getTo($event)">
    <mat-datepicker-toggle matSuffix [for]="picker1">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

</div>

</div>
</div>




  
  


  
   
<table mdbTable>
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let el of elements" (click)="test.toggle()">
         
        <th scope="row" >{{el.user_account}}
          
          <div  mdbCollapse #test="bs-collapse">
           <h1 aling="center">Подробная информация</h1>
            {{el.street}}
          </div>
        </th>
        <td>{{el.date}}</td>
        <td>{{el.city}}</td>
        <td>{{el.type}}</td>
        <td>{{el.value}}</td>
      
      
      </tr>
    </tbody>
  </table>




 

 