ng-multiselect-dropdown .dropdown-list[_ngcontent-c6] li[_ngcontent-c6] {
    width: 30%;
}
.dropdown-btn{
    width: 30%;
}
.multiselect-dropdown[_ngcontent-c5] .dropdown-btn[_ngcontent-c5] {
    width: 30%;
  }
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';