<div class="container-fluid fixed-top">
  <div class="row dark-line justify-content-between">

    <div class="col-1 align-self-start logo">
      <img src="http://tvoydom24.com/api/logo.png" alt="logo" style="height: 70px">
    </div>

    <div class="col-9 text-center title">
      <h1>УК "Твой Дом"</h1>
    </div>

    <div class="col-1 drop">
      <div class="btn-group icon float-right mt-3" mdbDropdown>
        <a>
          <i class="fa fa-user-circle fa-2x dropdown-toggle" aria-hidden="true" mdbDropdownToggle type="button"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item">Связаться с нами</a>
          <a class="dropdown-item">Выход</a>
        </div>
      </div>
    </div>
  </div>
</div>