<h1 style="margin-top:3%; margin-bottom:3%;" align="center">Новости</h1>

<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Добавить новость</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Название новости</label>
          <input [(ngModel)]="service_name" name="service_name" type="text" class="form-control" 
          id="exampleFormControlInput1" placeholder="Название новости">
        </div>
        
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Описание</label>
          <textarea [(ngModel)]="service_description" name="service_description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    
        <div class="input-default-wrapper mt-3">
                <label for="exampleFormControlInput1">Загрузить картинку</label>
                <span class="input-group-text mb-3" id="input1">Upload</span>
              
                <input type="file" id="file-with-current" class="input-default-js">
              
                <label class="label-for-default-js rounded-right mb-3" for="file-with-current"><span class="span-choose-file">Choose
                    file</span>
              
                  <div class="float-right span-browse">Browse</div>
              
                </label>
              
              </div>
    
    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="send()">Добавить</button>
        </div>
      </ng-template>

<table style="margin-left:6%; width:80%; border:none;"  mdbTable  >
        
        <tbody>
          <tr *ngFor="let el of elements">
             
            <th><img width="300" src="{{el.img}}"/></th>
            <td><h4 >{{el.title}}</h4>
            <p>{{el.description}}</p>
            </td>
            
              
           
            
          
          </tr>
         

        </tbody>
      
    </table>
    <button style="margin-left:70%; margin-bottom: 2%;" class="btn btn-lg btn-outline-info" (click)="open(content)">Добавить </button>


    