.container-fluid  {
    margin: 0;
    padding: 0;
}
.sidebar{
    background: #EFEFEF;
    min-height: 92vh;
}
.rowContent{
    margin-top: 69px;
}
@media (max-width: 1199px) {
    .sidebar {
        display: none;
    }
}
.dropdown-btn{
    width: 30%;
}
.multiselect-dropdown[_ngcontent-c5] .dropdown-btn[_ngcontent-c5] {
    width: 30%;
  }