<div class="container-fluid">

<div  class="row mt-2">
        
    <div class="col-12">

        <h1 style="margin-left:40%;" class="mt-3 mb-3 ">Статистика</h1>
    </div>
    
    <div id="month" class="col-lg-4 col-md-6 col-sm-6" >
            <h4 class="mt-4">Общая сумма платежей</h4>
                <canvas mdbChart
                    [chartType]="barType"
                    [datasets]="barDatasets"
                    [labels]="barLabels"
                    [colors]="barColors"
                    [options]="barOptions"
                    [legend]="true"
                    (chartHover)="barHovered($event)"
                    (chartClick)="barClicked($event)">
                </canvas>
              </div>
            
            

              <div  id="quanty" class="col-lg-4 col-md-6 col-sm-6" >
                    <h4 class="mt-4">Общий процент пользователей</h4>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                  </div>
                
                  <div class="col-lg-4 col-md-6 col-sm-6">
            <h4 class="mt-4">Самые популярные услуги</h4>
                  <table  mdbTable striped="true" >
                        <thead>
                          <tr>
                            <th >№ </th>
                            <th >Название </th>
                            <th >Кол-во Заказов </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr mdbTableCol >
                            <th scope="row">1</th>
                            <td>Газовики</td>
                            <td>10</td>
                            
                          </tr>
                          <tr mdbTableCol >
                                <th scope="row">1</th>
                                <td>Газовики</td>
                                <td>10</td>
                                
                              </tr>
                              <tr mdbTableCol >
                                    <th scope="row">1</th>
                                    <td>Газовики</td>
                                    <td>10</td>
                                    
                                  </tr>
                                  <tr mdbTableCol >
                                        <th scope="row">1</th>
                                        <td>Газовики</td>
                                        <td>10</td>
                                        
                                      </tr>
                                      <tr mdbTableCol >
                                            <th scope="row">1</th>
                                            <td>Газовики</td>
                                            <td>10</td>
                                            
                                          </tr>
                        </tbody>
                      </table>


                      <h4 class="mt-4">Самые популярные услуги</h4>
                      <table  mdbTable striped="true" >
                            <thead>
                              <tr>
                                <th >№ </th>
                                <th >Название </th>
                                <th >Кол-во Заказов </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr mdbTableCol >
                                <th scope="row">1</th>
                                <td>Газовики</td>
                                <td>10</td>
                                
                              </tr>
                              <tr mdbTableCol >
                                    <th scope="row">1</th>
                                    <td>Газовики</td>
                                    <td>10</td>
                                    
                                  </tr>
                                 
                            </tbody>
                          </table>


                  </div>




                <div class="col-lg-4 col-md-6 col-sm-6"> 
                    <h4 >Количество пользователей</h4>
                  <div id="percent" >
                        <canvas mdbChart
                            [chartType]="perType"
                            [datasets]="perDatasets"
                            [labels]="perLabels"
                            [colors]="perColors"
                            [options]="perOptions"
                            [legend]="true"
                            (chartHover)="perHovered($event)"
                            (chartClick)="perClicked($event)">
                        </canvas>
                    </div>
                
                </div>
                
                
                
                <div id="month" class="col-lg-4 col-md-6 col-sm-6" >
                        <h4>Количество поданных платежей</h4>
                            <canvas mdbChart
                                [chartType]="barType"
                                [datasets]="barDatasets"
                                [labels]="barLabels"
                                [colors]="barColors"
                                [options]="barOptions"
                                [legend]="true"
                                (chartHover)="barHovered($event)"
                                (chartClick)="barClicked($event)">
                            </canvas>
                          </div>
                
                          <div id="month" class="col-lg-4 col-md-6 col-sm-6" >
                                <h4>Количество заказанных услуг</h4>
                                    <canvas mdbChart
                                        [chartType]="barType"
                                        [datasets]="barDatasets"
                                        [labels]="barLabels"
                                        [colors]="barColors"
                                        [options]="barOptions"
                                        [legend]="true"
                                        (chartHover)="barHovered($event)"
                                        (chartClick)="barClicked($event)">
                                    </canvas>
                                  </div>
                
                
                
                </div>

               
       
        
        
       










</div>







